@{
    ViewData["Title"] = "Principal";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
@*<div style="height:80px;
position : absolute;
	width:100%;
	height:90%;
  background-color: black;
background-repeat:no-repeat;
margin : 0;
	padding : 0;
">
    <img src="~/img/FONDO2.jpeg" class="img-responsive" style="width:100%;height:100%;opacity:0.6" />
</div>*@

<script src="~/js_modulos/seguridad/js_principal.js"></script>
